.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px; /*page ruler redux 확장 프로그램쓰면 더 정화한 픽셀측정 가능*/
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7;
  }

#login-form {
  display: flex;
  flex-direction: column; /*login 박스 아래로*/
  margin: 0px 30px;
}

#login-form input:not([type="submit"]) {/*submit type일 때를 제외하고 나머지에 적용하고 싶을때*/
  border-bottom:  1px solid rgba(0,0,0,0.2);/*경계선*/
  transition: border-color 0.3s ease-in-out;/*애니메이션은 psudeo selector가 없는 곳에 해야됨*/
} 
/*css의 cascading 때문에 input:not이 위에 있어야함*/

#login-form input {
  padding: 15px 0ox;
  border: none;
  font-size: 18px;
  margin-bottom: 25px; 
}


#login-form input::placeholder {
    color: rgba(0,0,0,0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a { /*상속 받는 것으로 이부분 좀 헷갈*/
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}